<div>
	<h1>LISTAR CONTAS</h1>

	<a role="button" class="btn btn-default"> <i class="fa fa-plus"
		aria-hidden="true"></i> Adicionar
	</a>
	<div style="clear: both; height: 10px;"></div>
	<div class="alert alert-info" role="alert">Nenhuma Conta
		Cadastrada.</div>
	<table class="table table-striped table-hover table-bordered">
		<tr>
			<td>ID</td>
			<td>Cliente</td>
			<td>Valor Conta</td>
			<td>Valor Pago</td>
			<td>Status</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>