<div>
	<h1>LISTAR PAGAMENTOS</h1>

	<a role="button" class="btn btn-default"> <i class="fa fa-plus"
		aria-hidden="true"></i> Adicionar
	</a>
	<div style="clear: both; height: 10px;"></div>


	<div class="alert alert-info" role="alert">Nenhum Pagamento
		Cadastrado.</div>

	<table class="table table-striped table-hover table-bordered">
		<tr>
			<td>ID</td>
			<td>Conta</td>
			<td>Valor</td>
			<td>Forma de Pagamento</td>
		</tr>

		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>